.mainContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.subContainer{
    width: 80%;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.responseIcon{
    color: #0d99ff;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.dataLength{
    color: #282828;
    font-style: bold;
    font-weight: 700;
}

.containerResponses{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}


.containerLayout{
    background-color: #fff;
    width: 27%;
    height: 340px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.subContainerLayout{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0 1rem 0.4rem;
    /* border: #0d99ff solid 1px; */
}

.containerIcons{
    width: 80%;
    margin-left: 1rem;
}

.icons{
    width: 25px;
    height: 25px;
    color: #282828;
}

.label{
    text-transform: capitalize;
}

.timeStamp{
    width: 95%;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    justify-content: flex-end;
    /* border: #0d99ff 1px solid; */
}

@media screen and (max-width: 1000px) {
    .containerLayout{
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .containerLayout{
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .containerLayout{
        width: 80%;
    }
}
